<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Carcará SoundStream</title>

  <link rel="stylesheet" href="/style.css" type="text/css">
  <script src="http://platform.twitter.com/anywhere.js?id=261Oz4VtFc8Qb8ho330uA&v=1" type="text/javascript"></script>

</head>
<body>
  <div id="top">
    <div class="container">
      <h1>Share sound to everybody in realtime.</h1>
      <h2>It's very simple. Just login and start to talk in your particular internet radio. Make realtime podcasts and share with your friends or somebody wants to listen you.</h2>
    </div>
  </div>
  <div id="steps">
    <div class="container">
      <div class="columns">
        <div class="column">
          Login with your twitter account<br><br><br>
          <span id="login-logout"></span>
          <script type="text/javascript">
            twttr.anywhere(function (T) {
              if (T.isConnected()) {
                $("#login-logout").append('<a href="javascript:" id="signout" type="button">Sign out of Twitter</a>');
                $("#signout").bind("click", function () { twttr.anywhere.signOut(); });
                user = T.currentUser;
              }
              else {
                T("#login-logout").connectButton();
              }
            });
          </script>
        </div>
        <div class="column">
          Start to speak on your microphone<br><br>
          <img src="/images/mic.png" height="50">
        </div>
        <div class="column">
          Share with your friend your new live channel<br><br>
          <img src="/images/listen.png" height="50">
        </div>
      </div>
    </div>
  </div>
  <%- body %>
</body>
</html>
