<script>
    var username = "<%=username%>";
</script>
    <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <audio id="radio"></audio>
    <script src="/listen.js"></script>

    <div id="profile" style="padding: 50px; text-align: center">
      
    </div>

    <script>
      $.getJSON('http://api.twitter.com/1/users/show.json?screen_name=henriquegogo&callback=?', function(json) {
        $("#profile").append(json.url);
      });
    </script>
